[Unit]
Description=IPMI Fan Control Daemon
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/perl /usr/bin/ipmi_fancontrol-ng
Type=simple
TimeoutStopSec=20
KillMode=process
Restart=on-failure
RestartSec=30
WorkingDirectory=/usr/bin
Environment=LC_ALL=C
StandardOutput=file:/var/log/ipmi_fancontrol.log
StandardError=file:/var/log/ipmi_fancontrol.log
UMask=002

[Install]
WantedBy=multi-user.target
